#banner
  color: rgba(255, 255, 255, 0.95)
  text-align: center
  @media mq-normal
    background: url("/header_1920.jpg") 50% 0 no-repeat
    height: 408px
    background-size: cover
  @media mq-mobile
    background: url("/header_768.jpg") 50% 0 no-repeat
    height: 170px


#banner-title
  padding-top: 20px
  font-size: 32px
  line-height: 1.15
  font-weight: 700
  font-family: font-title
  text-transform: uppercase
  text-shadow: none
  letter-spacing: -1.5
  @media mq-normal
    padding-top: 100px
    padding-left: 10%
    font-size: 38px
    text-align: left
  @media mq-mobile
    font-size: 24px

#banner-start
  text-align: center
  padding: 40px 0
  @media mq-normal
    padding: 60px 0
    font-size: 18px

#banner-start-command
  background: lighten(color-navy, 10%)
  font-family: font-mono
  display: inline-block
  padding: 15px 20px

#banner-start-link
  color: #fff
  background: color-link
  display: inline-block
  padding: 15px
  text-decoration: none
  transition: 0.2s
  &:hover
    background: color-link-hover

#banner-share
  padding-top: 1em
  @media mq-normal
    text-align: left
    padding-left: 10%

.intro-focus
  padding: 1em
  background-color: #1194e8
  color: rgba(255, 255, 255, 0.9)
  text-align: center;
  font-size: 1em
  line-height: 1.5
  font-family: font-title
  text-shadow: none
  letter-spacing: -1.5
  @media mq-tablet
   font-size: 2em
   line-height: 1.5
  @media mq-normal
    font-size: 2em
    padding: 1em

.intro-features
  text-align: center
  flex: 0 0 100%
  font-family: font-title
  color: #757575
  font-weight: 500

.intro-features h1
  font-family: font-title
  font-size: 52px
  margin: 1em 0 0 0
  
.intro-features h2
  font-family: font-title
  font-size: 48px
  margin: 1em 0 0 0

.intro-features h3	
  font-family: font-title
  font-size: 32px
  margin: 1em 0 0 0

.intro-feature-list
  display: flex
  flex-flow: column
  @media mq-normal
    flex-flow: row wrap

.intro-feature-wrap
  padding-top: 20px
  @media mq-normal
    flex: 0 0 50%
    padding-top: 50px

.intro-feature
  position: relative
  text-align: center
  @media mq-normal
    text-align: left
    padding-left: 70px

.intro-feature-icon
  color: color-link
  font-size: 36px
  padding-bottom: 26px
  text-align: center
  @media mq-normal
    position: absolute
    top: 0
    left: 20px
    font-size: 24px
    width: @font-size

.intro-feature-title
  font-family: font-title
  font-size: 24px
  color: #757575
  font-weight: 500

.intro-feature-desc
  margin: line-height 0
  line-height: line-height

#intro-cmd-wrap
  max-width: 700px
  background: #eee
  padding: 15px 0
  margin: 25px gutter-width * -1 0
  @media mq-normal
    margin: 50px auto 0

.intro-cmd-item
  font-size: 16px
  font-family: font-mono
  line-height: 2
  padding: 0 30px
  &:before
    content: "$"
    color: color-link
    padding-right: 15px

#intro-get-started-wrap
  text-align: center

#intro-get-started-link
  font-size: 18px
  font-family: font-title
  display: inline-block
  color: color-link
  text-decoration: none
  margin: 40px 0
  border: 3px solid
  border-color: lighten(color-link, 20%)
  padding: 12px 24px
  position: relative
  transition: 0.2s
  &:hover
    background: @border-color
    color: #fff