layout: index
description: A fast, simple & powerful full stack java script framework for a BIG applications
subtitle: Full stack JavaScript framework for Enterprise.
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-expand
      h3.intro-feature-title Для разработки БОЛЬШИХ систем
      p.intro-feature-desc Приложения, созданные на платформе UnityBase содержат тысячи серверных сущностей и клиентских форм.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-fighter-jet
      h3.intro-feature-title Высоконагруженные проекты
      p.intro-feature-desc До <b>50&nbsp000 RPS</b> (Ответов В Секунду) с учетом обращения к БД на обычной Core i7 рабочей станции.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-upload
      h3.intro-feature-title Полный цикл разработки
      p.intro-feature-desc От описания модели предметной области до автоматически генерируемого интерфейса пользователя и стурктуры БД. Встроенные ER диаграммы, построитель сущностей, конструктор форм.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title Для крупного бизнеса
      p.intro-feature-desc <b>Базы данных</b> Oracle, SQL Server; <b>Облака</b> Azure; <b>Мониторинг</b> MS SCOM, MSTS, Zabbix; <b>Интеграция</b> REST, WS, COM+; <b>Беопасность</b> TLS, Negotiate, OTP, E-sign; <b>Информирование<b> E-mail, SMS, Push.